body{
    background-color: #c8c8c8;
    margin: 0px 110px 0px 110px;
}
h2{
    color: #CF0025;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Libre Baskerville';
}
h1{
    font-size: 70px;
    text-align: center;
    font-family: 'Libre Baskerville';
}
.image{
    border: solid #CF0025;
    border-radius: 15px;
    background-color: #333333;
}
.pied{
    border: dashed #4e41ae;
    color: #4e41ae;
    font-size: 20px;
    margin: 50px 50px 50px 50px;
    padding: 20px;
    font-family: 'Roboto';
    background-color: #b7b7b7;
    line-height: 32px;
}
img{
    height: 700px;
    width: 100%;
}
.tete{
    background-color: #333333;
    color: #dddddd;
}
th{
    background-color: #333333;
    color: #dddddd;
}
a{
    color: #cf0025;
}
.meme:hover{
    background-color: #999999;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    font-family: 'Roboto';
}
.meme{
    background-color: #dddddd;
}
.article{
    font-family: 'Roboto';
}
.avant{
    font-family: 'Roboto';
}
figure{
    text-align: center;
    color: #dddddd;
    text-align: center;
}
.pieds{
    border: dashed blue;
    color: blue;
    font-size: 19px;
    margin: 5px 50px 5px 50px;
    padding: 20px;
    font-family: 'robotolight';
}
.para{
    margin-bottom: 15px;
}
figcaption{
    font-size: 20px;
}